# Ignore global secrets folders
output/*

# Ignore all build directories
**/build/**

# Ignore draw.io backup files
*.drawio.bkp

# Ignore GDB log files
*.log

# Ignore pycache folders
**/__pycache__/** 

# Ignore build folders
**/*.egg-info/*
*/output/*
*.bin
global.secrets

# Ignore Python VM
.venv